/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 40%; 
    
  }

  .about-title {
    font-family: "EB Garamond", serif;
    font-family: "Poppins", sans-serif;
    width: 60%;
    font-size: 1.3rem;
    color: rgb(245, 245, 245);
padding-left: 4rem;
  }

  .about-title h2 {
    font-size: 2.5rem;
  }

  .long-text {
    width: 55rem;
    height: 14rem;
  }

  .normal-text {
   width: 55rem;
  }

.short-text {
  height: 5rem;
}

.title_box {
  width: 43rem;
  padding-top: 2rem;
}

.icons-folder {
 
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 4.5rem;
 width: 24rem;
gap: 9rem;
  
}

.lorem-title-box div {
  width: 22rem;
}

.lorem-title-box {
  width: 27rem;
}

.show div {
  width: 37rem;
}

.icons-folder ion-icon {
  padding: 1rem;
 
}

.grid-container {
  padding-left: 11rem;
}


}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {  

}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  html {
    font-size: 25%;
  }

  .car--container {
  background-color: aqua;
  }

}

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
